.annual-high,
.annual-low,
.coin-wrapper {
  display: flex;
  flex-direction: column;
}

.coin-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chart-details,
.coin-information {
  display: flex;
  flex-direction: row;
}

.coin-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.coin-logo {
  height: 3.5em;
  width: 3.5em;
}

.chart {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search,
.add-to-watchlist {
  background-color: limegreen;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: black;
  cursor: pointer;
  height: 2em;
}
