@import url("https://use.typekit.net/tqn4pog.css");

.App {
  background-image: url("../../images/bg3.png");
  background-repeat: no-repeat, repeat;
  background-size: 100% 100%;
  background-position: center;
  color: white;
  font-family: space-mono, mono;
  height: fit-content;
  text-align: center;
  width: fit-content;
}
