.coin-container {
  border: solid 3px red;
  height: 90vh;
}

.tab-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.annual-high,
.annual-low {
  display: flex;
  flex-direction: column;
}

.coin-logo {
  height: 3.5em;
  width: 3.5em;
}
