.nav-bar {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.watchlist {
  background-color: limegreen;
  border-radius: 2em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  color: black;
  cursor: pointer;
  height: 2em;
  margin-top: 5em;
}

.title {
  color: whitesmoke;
  cursor: pointer;
  font-size: 4em;
}
